.main img {
  width: 100%;
}
.main {
  margin: auto;
  position: relative;
  background-image: url(img/back.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#kidney {
  width: 700px;
}
#germs{
    width:370px;
    position: absolute;
    top: 2%;
    left: 6%;
    display: none;

}
#click{
    position: absolute;
    top: 82%;
    left: 60%;
    width: 130px;
}

.zoomanimate{
  
    transition: width 2s;
    width: 400px !important;
}

.zoomin{
    transition: width 2s;
    width: 400px !important;
    
}


.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
